@mixin base {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid grey;
}

.button {
  &--primary {
    @include base;
  }

  &--secondary {
    @include base;
    border: 3px solid red;
  }
}
