$page-padding: 80px;

.wrapper {
  padding: 0 $page-padding;
}

.header {
  padding-top: $page-padding;
  max-height: 20vh;
  height: 20vh;
}
.main {
  max-height: 60vh;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  height: 20vh;
  max-height: 20vh;
  padding-bottom: $page-padding;
  display: flex;
  justify-content: flex-end;
}
